@CHARSET "ISO-8859-1";

body {
	margin: 0px;
	background-image: url("../../resources/images/repeated_bkgr.jpg");
	background-repeat: repeat-x;
	font-family: Verdana;
}

#allContent {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

#query_string {
	border: thin solid #CCCCCC;
    font-size: 17px;
    height: 20px;
    width: 500px;
}

#body {
    margin: 0 auto;
    text-align: center;
    width: 1024px;
}

#results_list {
	border: thin solid #FFFFFF;
    height: 800px;
    margin: 10px auto 0;
    overflow-x: hidden;
    text-align: left;
    width: 1024px;
}

.result {
	background-color: #CCCCCC;
    height: 150px;
    margin-bottom: 5px;
    padding: 5px;
    width: 991px;
}

.photo {
	display: inline-block;
    float: left;
}

.movie_details {
	display: inline-block;
    float: left;
    width: 888px;
}

.movie_details a {
	color: black;
}

.movie_details a:hover {
	color: gray;
}

.title {
	display: inline-block;
    margin-left: 4px;
    text-align: left;
    text-decoration: underline;
}

.description {
	margin-left: 4px;
    margin-top: 30px;
    width: 864px;
}

.like_btn {
	float: right;
}

#main_menu {
	text-align: left;
	padding-bottom: 20px;
}